@using DeliveryBiz.Models;

<h3>Here are all the current orders for this Vendor</h3>

@if (@Model["vendor"].Orders.Count == 0)
{
  <h2>No Orders have been made, Go Out there and talk with them! </h2>
}

<ol>
  @foreach (Order order in @Model["order"])
  {
    <li>
      <a href ='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a><br>
      <ul>
        <li>@order.Description</li>
      </ul>
    </li>
  }
</ol>

<p><a href="/vendors/@Model["vendor"].Id/orders/new">Add a new order</a></p>
<p><a href="/vendors">Return to Vendor list</a></p>
<p><a href="/">return to Home page</a></p>