@using DeliveryBiz.Models;

<h3>Here are all the current orders for this Vendor</h3>

<ol>
@* @foreach (Order order in @Model["order"])
{
  <li><a href='/vendors/@Model["vendor"].id/orders/@order.Id'>@order.Description</a></li>
} *@
</ol>

<p><a href="/vendors/@Model["vendor"].Id/orders/new">Add a new order</a></p>
<p><a href="/vendors">Return to Vendor list</a></p>
<p><a href="/">return to Home page</a></p>