@using DeliveryBiz.Models;

<h3>Here are all the current orders for this Vendor</h3>

<ol>
  @foreach (Order order in @Model["order"])
  {
    <li><a href='/vendor/@Model["vendor"].id/order/@order.Id'>@order.Description</a></li>
  }
</ol>

<p><a href="/vendor/@Model["vendor"].Id/order/new">Add a new order</a></p>
<p><a href="/vendor">Return to Vendor list</a></p>
<p><a href="/">return to Home page</a></p>
